@page
@model TicketingSystem3.Web.Pages.Project.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Create Project</h1>
    </div>
</div>

<hr />
<div>
    <div class="container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control" id="name" asp-for="CreateProjectRequest.Name"/>
            </div>
            <div class="mb-3">
                <label for="description" class="control-label">Description</label>
                <textarea class="form-control" id="description" asp-for="CreateProjectRequest.Description"></textarea>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="mb-3">
                <a asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
