@page 
@model TicketingSystem3.Web.Pages.Ticket.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Create Ticket</h1>
    </div>
</div>
<div>
    <div class="container">
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="title" class="control-label">Title</label>
                <input type="text" class="form-control" id="title" asp-for="CreateTicketRequest.Title" />
            </div>
            <div class="mb-3">
                <label for="description" class="control-label">Description</label>
                <textarea class="form-control" id="description" asp-for="CreateTicketRequest.Description"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="CreateTicketRequest.Type" class="control-label"></label>
                <select asp-for="CreateTicketRequest.Type" class="form-control">
                    <option value="0">BugReport</option>
                    <option value="1">FeatureRequest</option>
                    <option value="2">AssistanceRequest</option>
                    <option value="3">Other</option>
                </select>
                <span asp-validation-for="Ticket.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTicketRequest.Status" class="control-label"></label>
                <select asp-for="CreateTicketRequest.Status" class="form-control">
                    <option value="0">Draft</option>
                    <option value="1">New</option>
                    <option value="2">WorkedOn</option>
                    <option value="3">Completed</option>
                </select>
                <span asp-validation-for="Ticket.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTicketRequest.SubmissionDate" class="control-label"></label>
                <input asp-for="CreateTicketRequest.SubmissionDate" class="form-control" />
                <span asp-validation-for="Ticket.SubmissionDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="mb-3">
                <a asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}