@page
@model TicketingSystem3.Web.Pages.Ticket.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Ticket</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
            <input type="hidden" asp-for="NewProjectId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ticket.Description" class="control-label"></label>
                <input asp-for="Ticket.Description" class="form-control" />
                <span asp-validation-for="Ticket.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ticket.Type" class="control-label"></label>
                <select asp-for="Ticket.Type" class="form-control">
                    <option value="0">BugReport</option>
                    <option value="1">FeatureRequest</option>
                    <option value="2">AssistanceRequest</option>
                    <option value="3">Other</option>
                </select>
                <span asp-validation-for="Ticket.Type" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ticket.Status" class="control-label"></label>
                <select asp-for="Ticket.Status" class="form-control">
                    <option value="0">Draft</option>
                    <option value="1">New</option>
                    <option value="2">WorkedOn</option>
                    <option value="3">Completed</option>
                </select>
                <span asp-validation-for="Ticket.Status" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="CreatedOn" />
            <div class="mb-3">
                <label asp-for="Ticket.SubmissionDate" class="control-label"></label>
                <input asp-for="Ticket.SubmissionDate" class="form-control" />
                <span asp-validation-for="Ticket.SubmissionDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Ticket.Id" />
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div class="container">
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
