@page
@model TicketingSystem3.Web.Pages.Message.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Create Message</h1>
    </div>
</div>


<hr />
<div>
    <div class="container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PassedId" />
            <div class="mb-3">
                <label for="message" class="control-label">Content</label>
                <input type="text" class="form-control" id="content" asp-for="CreateMessageRequest.Content" />
            </div>
            <div class="mb-3">
                <label asp-for="CreateMessageRequest.Status" class="control-label"></label>
                <select asp-for="CreateMessageRequest.Status" class="form-control">
                    <option value="0">Draft</option>
                    <option value="1">Published</option>
                </select>
                <span asp-validation-for="Message.Status" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CreateMessageRequest.PublicationDate" class="control-label"></label>
                <input asp-for="CreateMessageRequest.PublicationDate" class="form-control" />
                <span asp-validation-for="Message.PublicationDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
