@page
@model TicketingSystem3.Web.Pages.Message.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Message</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
            <input type="hidden" asp-for="NewTicketId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Message.Content" class="control-label"></label>
                <input asp-for="Message.Content" class="form-control" />
                <span asp-validation-for="Message.Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Message.Status" class="control-label"></label>
                <select asp-for="Message.Status" class="form-control">
                    <option value="0">Draft</option>
                    <option value="1">Published</option>
                </select>
                <span asp-validation-for="Message.Status" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="CreatedOn" />
            <div class="mb-3">
                <label asp-for="Message.PublicationDate" class="control-label"></label>
                <input asp-for="Message.PublicationDate" class="form-control" />
                <span asp-validation-for="Message.PublicationDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Message.Id" />
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div class="container">
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
